<form action="/register" method="post">
    Username:   <input type="text"      name="username"><br/>
    Password:   <input type="password"  name="password"><br/>
    Full Name:  <input type="text"      name="fullname"><br/>
    <input type="submit" value="Register">
</form>